Docker/node_red/data/.flows_2b0248ef5586.json.backup
[{"id":"ac0ba5ce.dee478","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5141e01.c90ce","type":"rpi-gpio out","z":"ac0ba5ce.dee478","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":380,"y":120,"wires":[]},{"id":"15cb2695.e73239","type":"inject","z":"ac0ba5ce.dee478","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["b5141e01.c90ce"]]},{"id":"d92900f7.fb702","type":"inject","z":"ac0ba5ce.dee478","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["b5141e01.c90ce"]]}]