Docker/node_red/data/flows_2b7c675cd7a2.json
[{"id":"d4d75229.e897","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ea1a39a.b8dd7c","type":"rpi-gpio out","z":"d4d75229.e897","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":410,"y":180,"wires":[]},{"id":"8d10d01f.158c7","type":"inject","z":"d4d75229.e897","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["4ea1a39a.b8dd7c"]]},{"id":"330ef7b3.ae03a8","type":"inject","z":"d4d75229.e897","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["4ea1a39a.b8dd7c"]]}]