Docker/node_red/data/flows.json
[{"id":"d5992402.235428","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"4889460b.e5fac8","type":"mqtt-dynamic-broker","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"da27f9dc.bb79f8","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d092d5bd.bea528","type":"mqtt-dynamic out","z":"d5992402.235428","name":"","topic":"sensors/outside/temp","qos":"2","retain":"false","broker":"4889460b.e5fac8","x":560,"y":320,"wires":[]},{"id":"2e950832.84f6b8","type":"rpi-dht22","z":"d5992402.235428","name":"","topic":"rpi-dht22","dht":"11","pintype":"4","pin":"7","x":200,"y":260,"wires":[["d092d5bd.bea528","9901c5fe.4fe888"]]},{"id":"8ea1b3cb.1665b","type":"inject","z":"d5992402.235428","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":70,"y":260,"wires":[["2e950832.84f6b8"]]},{"id":"1de36f84.9d583","type":"rpi-gpio out","z":"d5992402.235428","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":200,"y":140,"wires":[]},{"id":"e5d2fc40.4d5b","type":"mqtt in","z":"d5992402.235428","name":"","topic":"relay/1","qos":"2","datatype":"auto","broker":"da27f9dc.bb79f8","x":70,"y":140,"wires":[["1de36f84.9d583"]]},{"id":"fa7c0e37.61","type":"mqtt-dynamic out","z":"d5992402.235428","name":"","topic":"sensors/outside/humidity","qos":"2","retain":"false","broker":"4889460b.e5fac8","x":570,"y":260,"wires":[]},{"id":"9901c5fe.4fe888","type":"function","z":"d5992402.235428","name":"","func":"\nreturn {payload:msg.humidity};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["fa7c0e37.61"]]}]